<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <title>Maintenance page</title>
  </head>
  <body>
    <h1>The site is not available</h1>
    <p>We'll be back soon</p>
    {{> footer}}
  </body>
</html>
